/* CSS RULES */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --primary-color: #3684fd;
    --primary-light-color: #b5ddff;
    --secondary-color: #9792e4;
    --secondary-color-debug: #cecce0;
    --footer-color: rgb(51,51,51);
}

header.size-header {
    background-color: var(--primary-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    }
   
    .size-header.container{
        height: 100%;
    }



.container{
    max-width: 600px;
    margin: auto;
    padding: 0 1rem;
}

.flex{
    display: flex;
}


.space-between{
    justify-content: space-between;

}

.align-center{
    align-items: center;
}

main{
    padding-top: 100px;
}

.card{
    margin-bottom: 1.5rem;
}

#planning{
    background-color: var(--secondary-color);
    padding: 2rem 0;
}
    
#planning .column{
    margin: 1rem 0;
}

 #testimonial{
    padding: 3rem 0;
 }

 #testimonial .card{
    margin: 2rem 0;
 }

 #intro h3{
    color: var(--primary-color);
    padding: 10px 0 10px 0;
 }

 .mb-20{
    margin-bottom: 20px;
 }

.pb-50{
    padding-bottom: 50px;
}

 .w-80{
    width: 80%;
 }

 .w-100{
    width: 100%;
 }

 .mt-30{
    margin-top: 30px;
 }

 .app-img{
    width: 80%;
 }

 .big-icon{
    font-size: 80px;
    color: var(--primary-color);
    
 }

 .center{
    text-align: center;
 }



    /* DEBUG RULES */


    .debug-box{
        min-height: 80px;
        background-color: var(--primary-light-color);
        padding: 1rem;
    }

    .debug-box2{
        min-height: 80px;
        background-color: var(--primary-light-color);
        padding: 1rem;
    }

    .debug-box3{
        min-height: 80px;
        background-color: var(--primary-light-color);
    }

    .debug-box4{
        min-height: 80px;
        background-color: white;
        padding: 1rem;
    }

    .debug-box5{
        min-height: 80px;
        background-color: var(--secondary-color);
        padding: 1rem;
    }
    
    /* FINE DEBUG RULES */

    #benefits{ 
        background-color: var(--secondary-color);
        padding: 4rem 0;
    }

    #benefits .card{
        margin-top: 1 rem;
        margin-bottom: 1rem;
    }

    #about-us{
        padding: 4rem 0;
    }

    #about-us .column{
        margin-top: 1rem;
    }

    #get-started{
        padding: 1rem;
        background-color: var(--secondary-color);
    }

    #get-started .debug-box2{
        text-align: center;
        padding: 1rem;
        margin-top: 1rem;
    }

    #get-started .debug-box2:last-child{
        margin-bottom: 30px;
    }

    .footer-size{
      
        background-color: var(--footer-color);
        height: 200px;
        width: 100%;
        text-align: center;
    }


    .footer-size .debug-box2:first-child{
          margin-top: 10px;
    }

    .footer-size .debug-box2:last-child{
        margin-top: 30px;
  }

  .footer-size .debug-box2{
    padding: 10px;
    width: 70%;
    margin: auto;
  }

  .main-menu{
    display: none;
  }

  .hamburger{
    padding-top: 10px;
  }

   .img-planning{
    width: 100%;
    
   }

   em{
    font-weight: 100;
   }

   h5{
    font-weight: 200;
   }

   .purple-txt{
    color: var(--secondary-color);
   }
   
   .box-testimonial{
    width: 300px;
    margin:auto; 
   }

   .testimonial-img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
   }

   .quotation{
    font-size: 30px;
    padding: 2px;
   }

   .bigger{
    font-size: 50px;
    font-weight: 600;
   }

   .fa-apple{
    padding-right: 10px;
  }

  /* BTN RULES */

  .white-txt{
    color: white;
  }

  .white-btn{
    background-color: white;
  }

  .blue-btn{
    background-color: var(--primary-color);
  }

  .black-txt{
    color: black;
 }

 .btn{
    padding: 10px;
    border-radius: 20px;
  }

  .big-btn{
    text-align: center;
    display: inline-block;
    width: 200px;
  }

   .medium-btn{
    padding: 10px;
    border-radius: 20px;
    width: 30%;
   }

  .small-btn{
    padding: 5px;
    border-radius: 50%;
  }

   .spacing{
    letter-spacing: 3px;
   }

  .purple-btn{
    background-color: var(--secondary-color);
  }

  /* FINE BTN RULES */


    /* RESPONSIVE RULES */

    /* TABLET SIZE */

    @media  screen and (min-width: 768px) {
        .container{
            max-width: 740px;
        }

        #intro .cards{
            display: flex;
            flex-wrap: wrap;
            margin-left: -0.75rem;
            margin-right: -0.75rem;
        }

        #intro .card{
            width: calc((100% / 3) - 1.5rem);
            margin-left: 0.75rem;
            margin-right: 0.75rem;
            background-color: var(--primary-light-color);
        }

        #intro .card:first-child{
            width: calc((100% / 3 * 2) - 1.5rem );
        }

        #planning .column:first-child{
            margin-right: 0.5rem;
        }

        #testimonial .card{
            display: flex;
            flex-direction: column;
        }

        #benefits .card{
            margin-left: 1rem;
            margin-right: 1rem;
            width: calc(( 100% / 2) - 2rem );
        }

        #benefits .cards{
            display: flex;
            flex-wrap: wrap;
        }

        #about-us .columns{
            display: flex;
        }

        #about-us .column{
            margin: 1rem;
            width: calc((100% / 2) - 2rem );
        }

    }

    /* PC SIZE */

    @media screen and (min-width: 992px) {
        .container{
            max-width: 960px;
        }

        #intro .card:first-child{
            display: flex;
         
        }
        
        #intro .card:first-child > div{
            width: 50%;
           
        }

        #planning .columns{
            display: flex;
            align-items: flex-end;
            padding-left: 6rem;
            padding-right: 6rem;
        }

        #planning .column{
            width: calc(50% - 2rem);
            margin: 1rem;
        }

        #testimonial .card{
            flex-direction: row;
        }

        #benefits .card{
            margin-left: 1rem;
            margin-right: 1rem;
            width: calc((100% / 3) - 2rem);
        }

         .main-menu a{
            text-decoration: none;
         }

         .main-menu{
            display: block;
         }

         ul {
            list-style: none;
            display: flex;
            padding-left: 1rem;
         }

         ul > li{
            padding-left: 1rem;
            padding-top: 10px;
         }

         .hamburger{
            display: none;
         }      

         .btn{
           padding: 10px;
           border-radius: 20px;
         }

         .white-btn{
           background-color: white;
         }
       
         .black-txt{
            color: black;
         }
         
         .white-txt{
            color: white;
         }


    }

