/* CSS RULES */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #3684fd;
    --primary-light-color: #b5ddff;
    --secondary-color: #9792e4;
    --secondary-color-debug: #cecce0;
}

header.size-header {
    background-color: var(--primary-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    }
   

.container{
    max-width: 600px;
    margin: auto;

}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;

}

.align-center{
    align-items: center;
}

main{
    padding-top: 100px;
}

.card{
    margin-bottom: 1.5rem;
}

#planning{
    background-color: var(--secondary-color);
    padding: 2rem 0;
}
    
#planning .column{
    margin: 1rem 0;
}

 #testimonial{
    padding: 3rem 0;
 }

 #testimonial .card{
    margin: 2rem 0;
 }

    /* DEBUG RULES */

    .debug-box{
        height: 80px;
        background-color: var(--primary-light-color);
        padding: 1rem;
    }

    .debug-box2{
        height: 80px;
        background-color: var(--primary-light-color);
        padding: 1rem;
    }

    /* FINE DEBUG RULES */

    #benefits{ 
        background-color: var(--secondary-color);
        padding: 4rem 0;
    }

    #benefits .card{
        margin-top: 1 rem;
        margin-bottom: 1rem;
    }

    #about-us{
        padding: 4rem 0;
    }

    #about-us .column{
        margin-top: 1rem;
    }


    /* RESPONSIVE RULES */

   /* TABLET SIZE */

    @media  screen and (min-width: 768px) {
        .container{
            max-width: 740px;
        }

        #intro .cards{
            display: flex;
            flex-wrap: wrap;
            margin-left: -0.75rem;
            margin-right: -0.75rem;
        }

        #intro .card{
            width: calc((100% / 3) - 1.5rem);
            margin-left: 0.75rem;
            margin-right: 0.75rem;
            background-color: var(--primary-light-color);
        }

        #intro .card:first-child{
            width: calc((100% / 3 * 2) - 1.5rem );
        }

        #planning .column:first-child{
            margin-right: 0.5rem;
        }

        #testimonial .card{
            display: flex;
        }

        #benefits .card{
            margin-left: 1rem;
            margin-right: 1rem;
            width: calc(( 100% / 2) - 2rem );
        }

        #benefits .cards{
            display: flex;
            flex-wrap: wrap;
        }

        #about-us .columns{
            display: flex;
        }

        #about-us .column{
            margin: 1rem;
            width: calc((100% / 2) - 2rem );
        }

    }

    /* PC SIZE */

    @media screen and (min-width: 992px) {
        .container{
            max-width: 960px;
        }

        #intro .card:first-child{
            display: flex;
         
        }
        
        #intro .card:first-child > div{
            width: 50%;
           
        }

        #planning .columns{
            display: flex;
            align-items: flex-end;
            padding-left: 6rem;
            padding-right: 6rem;
        }

        #planning .column{
            width: calc(50% - 2rem);
            margin: 1rem;
        }

        #benefits .card{
            margin-left: 1rem;
            margin-right: 1rem;
            width: calc((100% / 3) - 2rem);
        }

    }

